.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    @media (min-width: 760px){
        flex-direction: row;
        gap:16px;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 100px;
    }
}
.quoteImage{
    display: none;
    @media (min-width: 760px) {
        display: block;
    }
}
.img{
     @media (min-width: 760px) {
        border-radius: 24px;
        width: 628px;
        height: 618px;
    }
}
.quoteText{
    border-radius: 24px;
    width: 288px;
    background: #fd6f00;
    @media (min-width: 760px){
        width: 628px;
        height: 618px;
    }
}
   
.text{
    font-weight: 700;
    font-size: 24px;
    line-height: 156%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-white);
    padding: 34px 17px;
    @media (min-width: 760px){              
        font-size: 50px;
        line-height: 140%;
        text-align: left;
        padding:97px 0 97px 76px ;
    }
}